---
- name: Install and configure the desktop environment
  hosts: localhost
  gather_facts: yes
  tasks:

    # Flatpak configuration
    - name: Add Flathub repository
      flatpak_remote:
        name: flathub
        flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
        state: present
      tags: packages

    - name: Install packages from Flathub
      flatpak:
        name: "{{ item }}"
        state: present
      loop:
        - com.google.Chrome
        - org.gnome.Boxes
      tags: packages

    # User environment configuration
    - name: Check if powerlevel10k directory exists
      stat:
        path: ~/powerlevel10k
      register: powerlevel10k_directory
      tags: user_env

    - name: Clone powerlevel10k repository
      git:
        repo: https://github.com/romkatv/powerlevel10k.git
        dest: ~/powerlevel10k
        depth: 1
      when: not powerlevel10k_directory.stat.exists
      tags: user_env

    - name: Check if copilot.vim repository is already cloned
      stat:
        path: ~/.config/nvim/pack/github/start/copilot.vim
      register: copilot_repo_status

    - name: Clone copilot.vim repository if not present
      git:
        repo: https://github.com/github/copilot.vim
        dest: ~/.config/nvim/pack/github/start/copilot.vim
      when: not copilot_repo_status.stat.exists

    - name: Check if vim-plug is already installed
      stat:
        path: "${XDG_DATA_HOME:-$HOME/.local/share}/nvim/site/autoload/plug.vim"
      register: vim_plug

    - name: Install vim-plug
      shell: |
        sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
               https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
      when: vim_plug.stat.exists == False

    - name: Check if TFLint is installed
      command: tflint --version
      register: tflint_version
      failed_when: false
      changed_when: false

    - name: Create local bin directory if not exists
      file:
        path: "~/.local/bin/"
        state: directory
      when: tflint_version.rc != 0

    - name: Download TFLint
      get_url:
        url: https://github.com/terraform-linters/tflint/releases/download/v0.47.0/tflint_linux_amd64.zip
        dest: "~/tflint.zip"
      when: tflint_version.rc != 0

    - name: Unarchive TFLint
      unarchive:
        src: "~/tflint.zip"
        dest: "~/.local/bin/"
        remote_src: yes
      when: tflint_version.rc != 0

    - name: Set permissions for TFLint
      file:
        path: "~/.local/bin/tflint"
        mode: '0755'
      when: tflint_version.rc != 0

    - name: Clean up zip file
      file:
        path: "~/tflint.zip"
        state: absent
      when: tflint_version.rc != 0

    - name: Install shfmt
      shell: GO111MODULE=on go install mvdan.cc/sh/v3/cmd/shfmt@latest
      args:
        executable: /bin/bash

    - name: Install pip modules
      ansible.builtin.pip:
        name:
          - pynvim
          - flake8
          - pylint
          - black
        state: present
        executable: pip3

    - name: Check current shell
      command: echo $SHELL
      changed_when: False
      register: current_shell
      tags: user_env

    - name: Change default shell to Zsh for the user
      become: yes
      user:
        name: "{{ lookup('env','USER') }}"
        shell: /usr/bin/zsh
      when: current_shell.stdout != '/usr/bin/zsh'
      register: shell_changed
      tags: user_env

    - name: Check if the fonts directory exists
      ansible.builtin.stat:
        path: "~/.local/share/fonts/MesloLGS-NF"
      register: font_dir
      tags: user_env

    - name: Create fonts directory
      ansible.builtin.file:
        path: "~/.local/share/fonts/MesloLGS-NF"
        state: directory
        mode: '0755'
      when: not font_dir.stat.exists
      register: dir_created
      tags: user_env

    - name: Download and install fonts
      ansible.builtin.get_url:
        url: "{{ item }}"
        dest: "~/.local/share/fonts/MesloLGS-NF/"
      loop:
        - https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf
        - https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf
        - https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf
        - https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf
      when: dir_created is changed
      register: fonts_downloaded
      tags: user_env

    - name: Rebuild font cache
      ansible.builtin.shell:
        cmd: fc-cache -f -v
      when: fonts_downloaded is changed
      register: font_cache_rebuilt
      tags: user_env

    # System configuration
    - name: Get current timezone
      command: timedatectl show --property=Timezone --value
      changed_when: False
      register: current_timezone
      tags: system

    - name: Set Timezone to Europe/London
      timezone:
        name: Europe/London
      when: current_timezone.stdout != "Europe/London"
      become: yes
      become_user: root
      tags: system

    - name: Check for Nvidia GPU using lspci
      shell: lspci | grep -i NVIDIA
      register: lspci_check
      failed_when: false
      changed_when: false

    - name: Set has_nvidia_gpu fact based on lspci output
      set_fact:
        has_nvidia_gpu: "{{ lspci_check.stdout != '' }}"

    - name: Debug lspci_check
      debug:
        var: lspci_check.stdout

    - name: Install Nvidia driver
      shell: "rpm-ostree install akmod-nvidia"
      become: yes
      become_user: "{{ lookup('env','USER') }}"
      when: 
        - has_nvidia_gpu
        - font_cache_rebuilt is changed
      register: nvidia_driver_installed
      tags: nvidia

    # Reboot system
    - name: Reboot the system
      command: "systemctl reboot"
      when: 
        - font_cache_rebuilt is changed
        - shell_changed is changed
        - nvidia_driver_installed is changed
      tags: reboot
...
